.widget-button-group {
  @include button-group-container();
  display: inline-block;
  & > li {
    @include button-group-style($radius:true);
  }
  .widget-button {
    @include button;
    background-color: $color-alpha;
    @media #{$small-only} {
      padding-left: .8rem;
      padding-right: .8rem;
    }
    &:hover, &.active {
      background-color: darken( $color-alpha, 10%);
    }
    span {
      padding-right: .5rem;
    }
  }

}


