.widget-container {
  @include grid-row();
  background-color: #fff;
  padding-bottom: 2rem;
  @media #{$medium-up} {
    margin-top: 5rem;
  }
  .widget-header {
    @include grid-column(12);
  }
}

.widget-content{
  @include clearfix;
}

.widget-visual-container {
  @include grid-column(12);
  @media #{$medium-up} {
    @include grid-column($columns:6, $pull:6);
  }
  text-align: center;
}
.widget-data-container {
  @include grid-column($columns:12);
  @media #{$medium-up} {
    @include grid-column($columns:6, $push:6, $last-column:true);
  }
}



