//Bar Chart
.chart {
  margin:0 auto;
  display:block;
}


// visuals
.widget-visual {
  @extend .expandOpen;
  display:none;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  svg {
    width:100%;
    [id^="tree"].active {
      @extend .bounce;
      fill: $color-bravo;
    }
    [id^="car"].active {
      @extend .bounce;
      fill: $color-alpha;
    }
    [id^="carbon"].active {
      @extend .bounce;
      fill: $color-charlie;
    }
  }
  &.active {
    display:block;
  }
}

.widget-data {
  @extend .fadeIn;
  animation-delay: .5s;
  padding-top: 1.25rem;
  display:none;
  &.active {
    display:block;
  }
  span {
    float:left;
    font-size: 4.5rem;
    margin-top: .5rem;
    margin-right: .25rem;
    color: $color-charlie;
  }
  h2{
    line-height: 1;
    font-size: 1.6rem;
  }
  p {
    line-height: 1;
  }
}

