doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Opower Energy Usage
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="stylesheets/application.css" type="text/css")
  body
    //
      Design/Code Challenge for Opower by Justin Hill.
      Built with node.js and Express.
      Markup written in jade and styles written in SCSS(libSass).
      Uses Foundation for grid and base front end styles.
      Icons/icon font from icomoon.
      View uncompiled source at [github address]
    .widget-container(data-equalizer)
      header.widget-header
        h1 Your Electricity Savings
      section.widget-content
        .widget-data-container(data-equalizer-watch)
          .widget-data.active#cars-data
            span.icon-cup
            h2 Last month, you saved enough energy to take <strong>six cars</strong> off the road!
            p Great job! You used <strong>573 kWH</strong> last month, compared to <strong>791 kWh</strong> in the same month last year. The resulting savings is enough to offset the energy consumption of <strong>six average-size cars for one month.</strong>
          .widget-data#trees-data
            span.icon-cup
            h2 Last month, you saved energy equivilant to planting <strong>seven trees</strong>!
            p Great job! You used <strong>573 kWH</strong> last month, compared to <strong>791 kWh</strong> in the same month last year. The resulting savings is equivilant to planting <strong>seven trees.</strong>
          .widget-data#carbon-data
            span.icon-cup
            h2 Last month, you saved enough energy to offset <strong>four tons of carbon emmisons</strong>!
            p Great job! You used <strong>573 kWH</strong> last month, compared to <strong>791 kWh</strong> in the same month last year. The resulting savings is equivilant to offsetting <strong>four tons of carbon emmissions.</strong>
          canvas#widgetChart.chart(width="300px" height="150px")
        .widget-visual-container(data-equalizer-watch)
          .widget-visual.active#cars-container
          .widget-visual#trees-container
          .widget-visual#carbon-container
          ul.widget-button-group
            li
              a.widget-button.active#cars-button
                span.icon-car
                | Cars
            li
              a.widget-button#trees-button
                span.icon-tree
                | Trees
            li
              a.widget-button#carbon-button
                span.icon-factory
                | Carbon


    // Call jQuery from Google CDN with local fallback.
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js')
    script window.jQuery || document.write('<script src="javascripts/vendor/jquery.min.js"><\/script>')
    script(src='js/main.min.js')
    script(src="//localhost:35729/livereload.js")
